<div>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-secondary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rocket fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge ng-binding"></div>
                            <div>Hours of Sunlight</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-recycle fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge ng-binding"></div>
                            <div>Flow</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-power-off fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge ng-binding"></div>
                            <div>pH</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tint fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge ng-binding"></div>
                            <div>Water Level</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-secondary">
            <div id='ufo-sightings'></div>
            <div id='ufo-sightings2'></div>
            <div id='ufo-sightings3'></div>
        </div>
    </div>
</div>
