/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.login-page {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    background:  #54b34f;

    text-align: center;
    color: #fff;

    padding: 3em;
}

.login-page .h1 {
  font-weight: 300;
}

.login-page .h1 small {
  color: rgba(255,255,255,0.7);
}

.login-page .form-group {
  padding: 8px 0;
}

.login-page .form-content {
   padding: 40px 0;
}

.user-avatar {
    width: 125px;
    height: 125px;
}
