<div class="login-page">
    <div class="container">
        <div class="card card-container">

            <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                </div>
                <form class="form-horizontal">
                    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                    <p id="profile-name" class="profile-name-card"></p>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>

                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div class="btn-group-vertical col-md-12">

                <a class="btn btn-block btn-social btn-facebook" ng-click='login("facebook")'>
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>

                <a class="btn btn-block btn-social btn-google" ng-click='login("google")'>
                    <span class="fa fa-google"></span> Sign in with Google
                </a>

                <a class="btn btn-block btn-social btn-linkedin" ng-click='noLogin()'>
                    <span class="fa fa-pagelines"></span> View Dashboard
                </a>
            </div>

            </form>

        </div>
    </div>
</div>
