<div layout-gt-md="row">
  <panel-widget flex title="Temperatures" template="app/views/partials/temperature.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Flow" template="app/views/partials/flow.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Power" template="app/views/partials/power.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Nutrients" template="app/views/partials/nutrients.html" options="true"></panel-widget>
  <panel-widget flex title="Nutrients" template="app/views/partials/nutrients.html" options="true"></panel-widget>
</div>
